{% extends "base.html" %}

{% block title %} Admin Statistics {% endblock %}

{% block content %}
  <h1>
    This is the admin/statistics page! Admin can do any related operations here.
  </h1>
  <head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>

    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        th{
          background-color: #72d372;
        }
        th, td {
            text-align: left;
            padding: 8px;
            
        }
        tr:nth-child(even){background-color: #f5f5f5}
        </style>
        </head>

    <div id="table1">
        <form method = "POST">
        <h3>Total Borrows per School in period:
                          <label for="month">Month: 
                          <select id="month" name="month">
                            <option selected>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </label>
                    </select>

                          <label for="year"> Year: 
                          <input type="text" id="year" 
                          name="year" placeholder="Specify Year" />
                        </label>
                       
                  </form>          
        </h3>
        <table>
            <thead>
                <tr>
                    <th>School Name</th>
                    <th>Number of Borrows</th>
                </tr>
            </thead>
            <tbody>
                {% for school_name, num_of_borrows in school_borrows %}
            <tr>
                <td>{{ num_of_borrows }}</td>
                <td>{{ school_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <form method = "POST">
    <div id="table2">
        <form method = "POST">
        <h3>Find authors writting & teachers reading :  
            <label for="category">
                <input type="text" id="category" 
                      name="year" placeholder="Specify Category" />
             </label>
        </h3>
    </form>
    <p>Author Names :</p>
        {% for author in category_authors %}
        <p>{{ author }}</p>
        {% endfor %}

        <p>Teacher Names: <p>
        {% for teacher in category_teachers %}   
        <p>{{ teacher }}</p>     
        {% endfor %}
    </div>

    <br>

<h3>Teachers < 40 years old with most reading activity :</h3>
{% for teacher in book_worms %}
<p>{{ teacher }}</p>
{% endfor %}

<br>

<h3>Authors with zero number of borrows:</h3>
{% for author in unfamous_authors %}
<p>{{ author }}</p>
{% endfor %}

<br>

<h3>Top genre pairs:</h3>
{% for pair in top_pairs %}
<p>{{ pair }}</p>
{% endfor %}

 
{% endblock %}